<article data-ui-sref="details({id: bookCardCtrl.book.id})">
  <img ng-src="{{bookCardCtrl.book.cover}}" class="book-card__cover" alt="Loading book cover...">
  <div class="book-card__info-container">
    <header class="book-card__title">
      {{bookCardCtrl.book.name}}
    </header>
    <section class="book-card__author">
      By {{bookCardCtrl.book.author.name}}
    </section>
    <footer>
      <div class="book-card__likes">
        <span class="icon icon--heart"></span>
        <ng-pluralize count="bookCardCtrl.book.likes" when="{'one': '1 Like', 'other': '{} Likes'}"></ng-pluralize>
      </div>
      <div class="book-card__date">
        <span class="icon icon--calendar"></span>
        {{bookCardCtrl.book.relativePublishedDate}} ago
      </div>
    </footer>
  </div>
</article>
