<main class="grid">

  <header class="grid__row">
    <div class="navbar navbar--dark">
      <div class="container">
        Discover Section Challenge
      </div>
    </div>
    <div class="navbar navbar">
      <div class="search-bar container">
        <div class="search-bar__col">
          Find me the best

          {{booksCtrl.bookGenres}}

          <div class="dropdown" data-refills-dropdown>
            <div class="dropdown-container">
              <p class="dropdown-description">Description</p>
              <p class="dropdown-button">Click to Select</p>
              <ul class="dropdown-menu dropdown-select">
                <li data-ng-repeat="genre in booksCtrl.bookGenres">{{genre}}</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="search-bar__col">
          books about
        </div>
        <div class="search-bar__col">
          Search for
        </div>
      </div>
    </div>
  </header>
  <div class="grid__main">
    <section class="container">
      <article class="book-card">
        <img src="http://lorempixel.com/500/700/" class="book-card__cover">
        <header class="book-card__title">
          Title
        </header>
        <section class="book-card__author">
          By Author
        </section>
        <footer>
          <p class="book-card__likes">
            <span class="icon icon--heart"></span> Likes
          </p>
          <p class="book-card__date">
            <span class="icon icon--calendar"></span> Date
          </p>
        </footer>
      </article>

      <div class="book-card">
        BOOK
      </div>
      <div class="book-card">
        BOOK
      </div>
      <div class="book-card">
        BOOK
      </div>
      <div class="book-card">
        BOOK
      </div>
      <div class="book-card">
        BOOK
      </div>
      <div class="book-card">
        BOOK
      </div>

    </section>
  </div>
</main>
