<main class="grid">
  <header>
    <div class="navbar navbar--dark" data-ng-include="'templates/navbar.html'"></div>
    <div class="navbar navbar--large">
      <section class="container">
        <div class="navbar__back" data-ui-sref="search" title="Back to search">
          <span class="icon icon--back"></span>
        </div>
        Book details
      </section>
    </div>
  </header>
  <section class="grid grid--side-padding">
    <p data-ng-show="bookDetailsCtrl.loadingBook" class="container book-details loading">
      <span class="icon icon--wait"></span> Loading...
    </p>
    <article class="container book-details" data-ng-hide="bookDetailsCtrl.loadingBook">
      <header class="book-details__header">
        <div class="book-details__title">
          <h1>
            {{bookDetailsCtrl.bookData.name}}
          </h1>
          <div class="book-details__author">
            <span class="icon icon--profile"></span> By {{bookDetailsCtrl.bookData.author.name}}
            <span class="icon icon--category icon--margin-left"></span> {{bookDetailsCtrl.bookData.genre.category}} / {{bookDetailsCtrl.bookData.genre.name}}
          </div>
        </div>
        <div class="book-details__stats">
          <span class="icon icon--heart"></span>
          <ng-pluralize count="bookDetailsCtrl.bookData.likes" when="{'one': '1 Like', 'other': '{} Likes'}"></ng-pluralize>
          <span class="icon icon--calendar icon--margin-left"></span> {{bookDetailsCtrl.bookData.relativePublishedDate}} ago
        </div>
      </header>
      <div class="book-details__content">
        <p class="book-details__description">
          {{bookDetailsCtrl.bookData.description}}
        </p>
        <p class="book-details__large-text book-details__large-text--secondary">
          Introduction
        </p>
        <p data-ng-repeat="introduction in bookDetailsCtrl.bookData.introduction">
          {{introduction.content}}
        </p>
      </div>
      <div class="book-details__author-container">
        <img ng-src="{{bookDetailsCtrl.bookData.author.avatar}}" class="book-details__author-avatar" alt="Loading...">
        <p>
          Written by {{bookDetailsCtrl.bookData.author.name}}
        </p>
      </div>
      <footer class="book-details__footer">
        <h2 class="book-details__large-text">Similar reading</h2>
        <p>
          <ng-pluralize count="bookDetailsCtrl.relatedBooks.length" when="{'0': 'Nothing found',
          'one': 'If you liked this book, we recommend you check out this emerging title:',
          'other': 'If you liked this book, we recommend you check out these emerging titles:'}">
          </ng-pluralize>
        </p>
        <section class="book-details__related-container">
          <p data-ng-show="bookDetailsCtrl.loadingRelated" class="loading">
            <span class="icon icon--wait"></span> Loading...
          </p>
          <book-card class="book-card book-card--float" data-ng-repeat="book in bookDetailsCtrl.relatedBooks" data-book="book">
          </book-card>
        </section>
      </footer>
    </article>
  </section>
</main>
