.book-card {
  $spacing: .8em;
  $padding: 1em;

  @include span-columns(3);
  @include omega(4n);
  @include transition(all .15s ease-out);
  @include media($tablet) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
  @include media($mobile) {
    @include span-columns(12 of 12);
  }

  background-color: $light-bg-color;
  border: solid 1px $divider-color;
  font-size: .8em;
  margin-bottom: $spacing * 2;
  margin-top: $spacing;
  overflow: hidden;

  %border-bottom-divider {
    border-bottom: 1px solid $divider-color;
    margin-bottom: $spacing;
    padding-bottom: $spacing;
  }

  &:hover {
    @include transform(scale(1.08));
    box-shadow: 0 22px 12px -10px darken($divider-color, 10%);
  }

  &__cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
  }

  &__text-container{
    @include span-columns(12);
    background-color: $card-background-color;
    padding: $padding;
  }

  &__title {
    @extend %border-bottom-divider;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: $spacing;
  }

  &__author {

  }

  &__likes {
    @include span-columns(6);
  }

  &__date {
    @include span-columns(6);
    text-align: right;
  }
}
