.book-card {
  @extend %card;

  $padding: 1em;

  @include span-columns(3);
  @include omega(4n);
  @include transition(all .15s ease-out);
  @include media($tablet) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
  @include media($mobile) {
    @include span-columns(12 of 12);
  }

  cursor: pointer;
  font-size: .8em;
  margin-bottom: $small-spacing * 2;
  margin-top: $small-spacing;

  &:hover {
    @include transform(scale(1.04));
    box-shadow: 0 30px 25px -30px darken($divider-color, 30%);
  }

  &__cover {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    background-color: $divider-color;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
  }

  &__info-container {
    @include span-columns(12);
    background-color: $primary-bg-color;
    padding: $padding / 2 $padding;
  }

  &__title {
    @extend %flex-align-center;
    color: $accent-color;
    font-family: 'Roboto-Bold';
    font-size: 1.2em;
    min-height: 50px;
  }

  &__author {
    @include border-bottom-divider($small-spacing);
  }

  &__likes {
    @include span-columns(6);
    color: $secondary-text-color;
  }

  &__date {
    @include span-columns(6);
    color: $secondary-text-color;
    text-align: right;
  }
}
