.book-details {
  @extend %card;
  $title-height: 6rem;
  background-color: $primary-bg-color;
  position: relative;
  top: -$title-height;
  margin: auto;

  /// Adds lateral padding to the element
  %lateral-padding {
    @include media($tablet) {
      padding: 0;
    }
    padding: 0 $base-spacing;
  }

  &__header {
    @extend %flex-align-center;
    @extend %lateral-padding;
    @include border-bottom-divider(0);
    padding: 0 $base-spacing;
    height: $title-height;
    margin-bottom: $base-spacing;
  }

  &__title {
    @include media($mobile) {
      width: 100%;
    }
    width: 80%;
  }

  &__secondary-title {
    font-size: .8rem;
  }

  &__inline-title-item {
    @include media($mobile) {
      display: block;
      margin-left: 0;

    }
    display: inline-block;
    margin-left: $small-spacing;
    line-height: 1rem;
    &:first-child {
      margin-left: 0;
    }
  }

  &__book-name {
    @include media($tablet) {
      font-size: 1.2rem;
    }
    @include media($mobile) {
      font-size: 1.1rem;
      padding-top: $small-spacing / 2;
    }
    font-size: 1.6rem;
    padding-bottom: $small-spacing / 2;
  }

  &__stats {
    @include media($mobile) {
      display: none;
    }
    font-size: .7rem;
    text-align: right;
    width: 20%;
  }

  &__content {
    @extend %lateral-padding;
    @include border-bottom-divider($base-spacing);
    padding-top: $base-spacing;
  }

  &__footer {
    padding: $base-spacing;
    text-align: center;
    background-color: $divider-color;
  }

  &__author-container {
    @extend %lateral-padding;
    text-align: center;
    margin-bottom: $base-spacing;
  }

  &__related-container {
    @extend %flex-align-center;
    @extend %lateral-padding;
    flex-wrap: wrap;
    padding: 0 $base-spacing;
    margin-bottom: $base-spacing;
    justify-content: center;
  }

  &__author-avatar {
    border-radius: 50%;
    margin: auto;
    max-width: 130px;
  }

  &__large-text {
    font-size: 1.1rem;
    margin-bottom: $base-spacing;

    &--secondary {
      color: $secondary-text-color;
    }
  }

  &__description {
    font-style: italic;
  }

}
