.icon {
  font-size: 1.2rem;
  vertical-align: middle;

  &--heart::before {
    @include icon('heart');
    color: $accent-color;
  }

  &--calendar::before {
    @include icon('calendar-clock');
    color: $accent-color;
  }

  &--search::before {
    @include icon('magnify');
  }

  &--back::before {
    @include icon('arrow-left');
  }

  &--info::before {
    @include icon('book-open-variant');
    font-size: 1.2rem;
    color: $accent-text-color;
  }
}
