.navbar {
  background-color: $primary-color;
  font-family: 'Roboto';
  line-height: 4rem;
  padding: 0 $base-spacing;

  &--dark {
    background-color: $primary-color-dark;
    line-height: 2rem;
  }

  &--large {
    height: 10rem;
  }

  &__back {
    cursor: pointer;
    float: left;
    margin-right: 15px;
  }

  &__link {
    &--right {
      @include media($mobile) {
        float: none;
        display: block;
      }

      float: right;
    }

    &:hover {
      color: $light-gray;
    }
  }
}
