.navbar {
  background-color: $primary-color;
  font-family: 'Roboto';
  line-height: 4rem;
  padding: 0 $side-spacing;

  &--dark {
    background-color: $primary-color-dark;
    line-height: 2rem;
  }

  &__logo {
    color: $accent-text-color;
    font-family: 'Roboto-Bold';
  }

  &__title {
    @include span-columns(12 of 12);
    font-family: 'Roboto-Medium';
    font-size: 2rem;
    line-height: 4rem;
  }
}
