.navbar {
  background-color: $primary-color;
  font-family: 'Roboto';
  line-height: 4rem;
  padding: 0 $base-spacing;

  &--dark {
    background-color: $primary-color-dark;
    line-height: 2rem;
  }

  &--large {
    height: 10rem;
  }

  &__logo {
    color: $accent-text-color;
    font-family: 'Roboto-Bold';
  }

  &__title {
    font-family: 'Roboto-Medium';
    // font-size: 2rem;
    line-height: 4rem;
  }

  &__back {
    cursor: pointer;
    float: left;
    margin-right: 15px;
  }
}
