.container {
  @include outer-container;
  @include media($mobile) {
    padding: 0 1rem;
  }
  @include media($tablet) {
    padding: 0 1rem;
  }
}

.grid {
  @include span-columns(12);

  &--side-padding {
    padding: 0 $base-spacing;
  }

  &__main {
    @extend .grid--side-padding;
    margin-top: $base-spacing;
    min-height: 70%;
  }
}
