.container {
  @include outer-container();
  @include media($mobile) {
    padding: 0 1rem;
  }
  @include media($tablet) {
    padding: 0 1rem;
  }
}

.grid {
  @include span-columns(12);
  font-family: 'Roboto';

  &__main {
    margin-top: 25px;
    min-height: 70%;
    padding: 0 25px;
  }
}
