<article data-ui-sref="books.details({id: bookCardCtrl.book.id})">
  <img ng-src="{{bookCardCtrl.book.cover}}" class="book-card__cover" alt="Loading book cover...">
  <div class="book-card__info-container">
    <header class="book-card__title">
      {{bookCardCtrl.book.name}}
    </header>
    <section class="book-card__author">
      By {{bookCardCtrl.book.author.name}}
    </section>
    <footer>
      <div class="book-card__likes">
        <span class="icon icon--heart"></span>
        {{bookCardCtrl.book.likes}} Likes
      </div>
      <div class="book-card__date">
        <span class="icon icon--calendar"></span>
        {{bookCardCtrl.publishedDateDiff}} ago
      </div>
    </footer>
  </div>
</article>
