<article>
  <img src="http://lorempixel.com/500/700/" class="book-card__cover">
  <div class="book-card__text-container">
    <header class="book-card__title">
      Title
    </header>
    <section class="book-card__author">
      By Author
    </section>
    <footer>
      <div class="book-card__likes">
        <span class="icon icon--heart"></span> Likes
      </div>
      <div class="book-card__date">
        <span class="icon icon--calendar"></span> Date
      </div>
    </footer>
  </div>
</article>
