<div class="navbar navbar">
  <div class="search-bar container">

    <div class="search-bar__col">
      <div class="search-bar__label">
        Find me the best
      </div>
      <div class="search-bar__input">
        <div class="dropdown" data-refills-dropdown>
          <div class="dropdown-container">
            <p class="dropdown-description">>></p>
            <p class="dropdown-button">Click to Select</p>
            <ul class="dropdown-menu dropdown-select">
              <li data-ng-repeat="genre in booksCtrl.bookGenres">{{genre}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="search-bar__col">
      <div class="search-bar__label">
        Find me the best
      </div>
      <div class="search-bar__input">
        <div class="dropdown" data-refills-dropdown>
          <div class="dropdown-container">
            <p class="dropdown-description">>></p>
            <p class="dropdown-button">Click to Select</p>
            <ul class="dropdown-menu dropdown-select">
              <li data-ng-repeat="genre in booksCtrl.bookGenres">{{genre}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="search-bar__col">
      <div class="search-bar__label">
        Find me the best
      </div>
      <div class="search-bar__input">
        <div class="dropdown" data-refills-dropdown>
          <div class="dropdown-container">
            <p class="dropdown-description">>></p>
            <p class="dropdown-button">Click to Select</p>
            <ul class="dropdown-menu dropdown-select">
              <li data-ng-repeat="genre in booksCtrl.bookGenres">{{genre}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
