<nav class="navbar navbar">
  <section class="container">
    <span class="navbar__title">Search our books!</span>
    <div class="searchbar">

      <div class="searchbar__col">
        <div class="dropdown" data-refills-dropdown>
          <div class="dropdown__container">
            <div class="dropdown__button">
              {{bookSearchParamsCtrl.selectedParams.category || "Category"}}
            </div>
            <ul class="dropdown__menu">
              <li class="dropdown__menu-item"
              data-ng-repeat="category in bookSearchParamsCtrl.bookCategories"
              data-ng-click="bookSearchParamsCtrl.selectedParams.category=category">
                {{category}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="searchbar__col">
        <div class="dropdown" data-refills-dropdown>
          <div class="dropdown__container">
            <div class="dropdown__button">
              {{bookSearchParamsCtrl.selectedParams.genre || "Genre"}}
            </div>
            <ul class="dropdown__menu">
              <li class="dropdown__menu-item"
              data-ng-repeat="genre in bookSearchParamsCtrl.bookGenres"
              data-ng-click="bookSearchParamsCtrl.selectedParams.genre=genre">
                {{genre}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="searchbar__col">
        <div class="search-box">
          <input type="text" class="search-box__input" placeholder="Search"
          data-ng-model="bookSearchParamsCtrl.selectedParams.query" />
          <div class="icon icon--search search-box__btn"
          data-ng-click="bookSearchParamsCtrl.search()"></div>
        </div>
      </div>

  </section>

</nav>
